<form action="/books/{{book._id }}" method="post">
  <input type="hidden" name="_method" value="post">
  
  <label for="book">Nombre:</label>
  <input type="text" id="book" name="book[name]" required>
  
  <label for="price">Precio:</label>
  <input type="number" id="price" name="books[price]" required>
  
  <button type="submit">Actualizar producto</button>
</form>