<form action="/books" method="post">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="book[name]" required>
  
    <label for="description">Descripción:</label>
    <textarea id="description" name="book[description]" required></textarea>
  
    <label for="price">Precio:</label>
    <input type="number" id="price" name="book[price]" required>
  
    <button type="submit">Cargar libro</button>
  </form>