<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <title>Correo enviado</title>
</head>
<body>
    <div class="container text-center" >
    <h1>Gracias por escribirnos tu correo a sido enviado...</h1>
    <div class="p-3">
 <a href="/" type="button" class="btn btn-success">Volver al listado de productos</a>
</div>
</div>
</body>
</html>